{% extends "layout.html" %}
{% block content %}

<head>

</head>

<body class="text-body">
    <p>
        I'm Joshua, and I'm a software engineer at Meta contributing to <a href="https://www.linux.org/">Linux</a>.
    </p><br><br>
    <p>
        I graduated from Columbia University in May 2024 with a BS in Computer Science. During my time there,
        I spent a lot of time thinking about Computer Systems, <a href="https://en.wikipedia.org/wiki/Shoegaze">shoegaze</a>,
        and <a href="https://en.wikipedia.org/wiki/Intelligent_dance_music">IDM</a>.
    </p><br><br>
    <p>
        These days, I spend my free time playing the electric [guitar / bass], watching movies, and listening to music.
    </p><br><br>
    <p>
        Here, you'll find a collection of things that are meaningful to me: what I'm thinking about, music I like, and projects that I'm working on.
    </p><br><br>
    <p>
        You can reach me at joshua.hahnjy@gmail.com for my resume and any questions you might have.  
    </p>

</body>

{% endblock %}